// #dropdown-menu-user {
//   position: fixed;
//   top: 0;
//   right: 0;
//   height: 80px;
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// /* menu toggle */

// #dropdown-menu-user .menu-toggle {
//   position: relative;
//   width: 40px;
//   height: 40px;
//   margin-right: 10px;
//   cursor: not-allowed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// /* profile menu */

// #dropdown-menu-user .profile {
//   position: relative;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   gap: 12px;
//   cursor: pointer;
//   text-align: end;
// }

// #dropdown-menu-user .profile h3 {
//   text-align: end;
//   line-height: 1;
//   margin-bottom: 4px;
//   font-weight: 600;
// }

// #dropdown-menu-user .profile p {
//   line-height: 1;
//   font-size: 14px;
//   opacity: .6;
// }

// #dropdown-menu-user .profile .img-box {
//   position: relative;
//   width: 48px;
//   height: 48px;
//   border-radius: 50%;
//   overflow: hidden;
// }

// #dropdown-menu-user .profile .img-box img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// /* menu (the right one) */

// #dropdown-menu-user .menu {
//   position: absolute;
//   top: calc(100% + 24px);
//   right: 16px;
//   width: 200px;
//   background: #fff;
//   box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
//   opacity: 0;
//   transform: translateY(-10px);
//   visibility: hidden;
//   transition: 300ms;
// }

// #dropdown-menu-user .menu::before {
//   content: '';
//   position: absolute;
//   top: -10px;
//   right: 14px;
//   width: 20px;
//   height: 20px;
//   background: #fff;
//   transform: rotate(45deg);
//   z-index: -1;
// }

// #dropdown-menu-user .menu.active {
//   opacity: 1;
//   transform: translateY(0);
//   visibility: visible;
// }

// /* menu links */

// #dropdown-menu-user .menu ul {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   z-index: 10;
//   background: #fff;
//   padding: 0;
// }

// #dropdown-menu-user .menu ul li {
//   list-style: none;
// }

// #dropdown-menu-user .menu ul li:hover {
//   background: #eee;
// }

// #dropdown-menu-user .menu ul li a {
//   text-decoration: none;
//   color: #000;
//   display: flex;
//   align-items: center;
//   padding: 15px 20px;
//   gap: 6px;
// }

// #dropdown-menu-user .menu ul li a i {
//   font-size: 1.2em;
// }

.layout-topbar .topbar-profile {
    border-radius: var(--border-radius);
    //margin-left: 2rem;
    position: relative;
    flex-shrink: 0;
}

.layout-topbar .topbar-profile .topbar-profile-button {
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

.layout-topbar .topbar-profile .topbar-profile-button>img {
    width: 36px;
    margin-right: .55rem;
}

.layout-topbar .topbar-profile .topbar-profile-button .profile-details {
    display: flex;
    flex-direction: column;
}

.layout-topbar .topbar-profile .topbar-profile-button .profile-name {
    color: var(--v-menuitem-text-color);
    font-weight: 700;
}

.layout-topbar .topbar-profile .topbar-profile-button .profile-job {
    color: var(--v-menuitem-text-color-secondary);
}

.layout-topbar .topbar-profile .topbar-profile-button i {
    margin-left: .5rem;
    color: var(--v-menuitem-text-color-secondary);
    transition: transform var(--transition-duration);
}


// .layout-topbar .topbar-profile .topbar-profile-button .profile-details,
//     .layout-topbar .topbar-profile .topbar-profile-button .profile-name,
//     .layout-topbar .topbar-profile .topbar-profile-button i {
//         display: none;
//     }

.profile-sair {
  display: none;
}


.profile-sair {
  cursor: pointer;
  color: var(--primary-color);
  line-height: 12px;
}

.profile-sair .pi {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  color: var(--primary-color);
}

.profile-sair .pi.pi-sign-out {
  float: left;
}

.profile-sair .text {
  display: inline-block;
  vertical-align: middle;
  color: var(--primary-color);
  font-weight: 500;
  float: right;
}


@media screen and (max-width: 991px) {
    .layout-topbar .topbar-profile {
        //margin-left: 1rem;
    }

    .layout-topbar .topbar-profile .topbar-profile-button .profile-details,
    .layout-topbar .topbar-profile .topbar-profile-button .profile-name,
    .layout-topbar .topbar-profile .topbar-profile-button i {
        display: none;
    }


  .profile-sair {
   display: block !important;
  }

  .profile-sair i {
    display: block !important;
   }

   #dropdown {
    display: none !important;
   }
}

