<div class="layout-wrapper" [ngClass]="containerClass">
  <app-accessibility></app-accessibility>
  <!-- Existing Topbar and Layout Content -->
  <app-topbar></app-topbar>

  <div class="layout-sidebar">
      <app-sidebar></app-sidebar>
  </div>
  <div class="layout-main-container">
    <app-breadcrumb [deliminator]="'/'"></app-breadcrumb> <!-- Breadcrumb Dinâmico -->

      <div class="layout-main">
          <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
  </div>
  <app-config></app-config>
  <div class="layout-mask"></div>
</div>
